<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/icon.png">
    {% feed_meta %}
    {% seo %}

    <script src="https://unpkg.com/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="script.js"></script>
    <script src="/assets/js/view-counter.js"></script>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    <footer style="text-align: center; margin-top: 2rem; padding: 1rem; border-top: 1px solid #eee; font-size: 0.9rem; color: #666;">
      Page views: <span id="view-counter">0</span> | Total site views: <span id="total-views">0</span>
    </footer>
  </body>
</html>